# Transformar cadenas
Ejercicio 1

Dividir texto por cada oracion

In [20]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

oraciones = text.split('.')
oraciones

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

Palabras clave para busqueda en una oracion

In [21]:
palabrasClave = ["average", "temperature", "distance"]
palabrasClave

['average', 'temperature', 'distance']

Ciclo for para recorrer la cadena

In [22]:
for sentence in oraciones:
    for key_word in palabrasClave:
        if key_word in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

Ciclo para cambiar C a Celsius

In [23]:
for sentence in oraciones:
    for key_word in palabrasClave:
        if key_word in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

# Formateando cadenas

Ejercicio 2

Datos con los que vamos a trabajar

In [24]:
nombre = "Luna"
gravedad = 0.00162 # in kms
planeta = "Tierra"
nombre

'Luna'

Creamos un titulo

In [25]:
title = f'datos de gravedad sobre {nombre}'

Creamos la plantilla

In [26]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

Union de ambas cadenas

In [27]:
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

Datos de muestra

In [28]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

Comprobando plantilla

In [29]:
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

In [30]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

Darle formato a los datos

In [31]:
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2